.product{  
    width: 100%;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: white;
    z-index: 1;
}

.product__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__info{
    height: 100%;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}
.product__rating{
   display: flex;
}

.img {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
    margin-bottom: 15px;
 }

 .addbasket{
     width: 200px;
     height: 30px;
     background-color: #f0c14b;
     margin-left: 5px;
     border: none;
     border-radius: 15px;
 }

